<%= form_for [@person, @assignment] do |f| %>

<div class="form-group">
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, Location.all, :id, :name, {include_blank: "Select Location"} %>
</div>

<div class="form-group">
    <%= f.label :role %>
    <%= f.text_field :role %>
</div>

<div class="form-group">
  <%= f.submit class: "btn btn-primary" %>
</div>


<% end %>
